.jobs {
    padding: 94px 0;
    margin-top: -94px;
    display: none;
    @include desktop {
        display: block;
    }

    &__wrapper {
        display: flex;
        width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    &__text {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.171;
        letter-spacing: 0.03em;
    }
    &__list {
        display: flex;
        gap: 30px;
        list-style: none;
        margin-top: 50px;
    }

    &__list-item {
        position: relative;
    }
    &__job-description {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 370px;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
        position: absolute;
        bottom: 0;
        z-index: 1;
        color: var(--white);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.172;
        letter-spacing: 0.03em;
    }
}
